*.terraform*
*.ssh*
*.old
*.log
terraform/.terraform.lock.hcl
*credentials.tf
terraform/main.tfplan
terraform/main.tfdestroy
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/storage_size.txt
terraform/salia.txt
*join-command
*v_host.yaml
ansible/group_vars/v_host.yaml
