*.terraform*
*.ssh*
*.old
*.log
terraform/.terraform.lock.hcl
terraform/credentials.tf
terraform/main.tfplan
terraform/main.tfdestroy
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/storage_size.txt
terraform/salia.txt
